@CHARSET "UTF-8";
body{
	overflow-x:hidden;
}
/*************bootcss全局定制*******/
.input-group-btn>.btn {
	height:34px;
}
/********************************/
/*************评价分数*************/
/*****HTML
<span class="rating">
	<span class="star"></span>5
	<span class="star"></span>4
	<span class="star"></span>3
	<span class="star"></span>2
	<span class="star stared"></span>1
</span>
*/
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	/*font-size: 30px;*/
}
.rating span.star {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}
.rating span.star:hover {
	cursor: pointer;
}
.rating span.star:before {
	content: "\f006";
	/*padding-right: 5px;*/
	color: #777777;
}
.rating span.stared:before, .rating span.star:hover:before, .rating span.star:hover ~ span.star:before {
	content: "\f005";
	color: #e3cf7a;
}
/********************************/
/*************导定制航条************/
.navbar {
	margin-bottom: 0px;
}
.navbar-fixed-top .navbar-collapse {
	max-height: none;
}
.page-content {
	background-color: #fff;
	position: relative;
	margin: 0;
	padding: 8px 15px 24px;
}
.default-page-content,.goods-page-content {
	padding:0 0 24px 0;
}
.navbar-inverse {
	background-color: #FF4A30;
	border-color: #FF4A30;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-inverse .navbar-toggle {
	border-color: #C0392B;
	float:left;
	margin-left: 15px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	border-color: #C0392B;
	background-color: #C0392B;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #C0392B;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #C0392B;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #C0392B;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #C0392B;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #fff;
}
.navbar-brand {
	padding: 0;
	position: relative;
}
.RS_navbar_td {
	width:33%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/**********************************/
/*************首页搜索框定制************/
.RS_search_input_group {
	width: 95%;
	margin:0 auto;
}

.RS_search_input_group .form-control {
	font-size: 18px;
	height: 40px;
}
.RS_search_input_group .form-control:first-child{
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
}
.RS_search_btn {
	color: #fff;
	background: #B1B1B1 ;
	height: 40px !important;
	font-size: 24px;
	padding: 2px 12px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
	
}
/**********************************/
/*************首页分类***************/
.RS_idx_cate {
	margin-top: 5px;
	margin-bottom: 5px;
}
.RS_idx_cate a {
	color: #4c4c4c;
	font-size: 0.8em;
}
/**********************************/
/*************首页底部***************/
.navbar-default {
	background: #A3A3A3;
}
.RS_idx_foot div{
	height: 49px;
}
.RS_idx_foot a {
	display: block;
	color: #F0F0F0;
	font-size: 12px;
}
.RS_idx_foot a.icon {
	color: #fff;
	font-size: 22px;
	height: 31px;
}
.RS_idx_foot .active a {
	color: #FF4A30;
}
/**********************************/
/*************列表页顶部定制***************/
.RS_topbar_left {
	float: left;
	width: 80px;
	margin-left: -100%;
}
.RS_topbar_right {
	float: left;
	width: 60px;
	margin-left: -60px;
}
.RS_topbar_mid {
	float: left;
	width: 100%;
	height: 100%;
}
.RS_topbar_mid_auto {
	margin: 8px 60px 8px 80px;
}
.RS_topbar_mid_auto, .RS_topbar_mid_auto a {
	color : #fff;
	font-size: 20px;
	line-height: 34px;
	display: block;
	text-align: center;
}
.RS_navbar_cart {
	position: relative;
	height:100%;
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	background-color: transparent;
	background-image: none;
	display: block;
	width: 100%;
	text-align:center;
}
.RS_navbar_back {
	position: relative;
	float: left;
	height:100%;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	background-color: transparent;
	background-image: none;
	display: block;
	width: 100%;
	text-align:center;
}
.RS_list_top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	top: 50px;
	border-bottom: 1px #DBDBDB solid;
	background: #F6F6F6;
	color: #8C8D8D;
}
.RS_list_top a{
	color: #8C8D8D;
}
/*************************************/
/*************列表页列表***************/
.RS_list_content {
	background: #ddd;
	padding: 0;
}
.RS_list_content a:hover, .RS_list_content a:focus{
	text-decoration: none;
}
.RS_list_content .RS_list_dl:first-child {
	padding-top: 0px;
}
.RS_list_dl {
	padding: 3px 0;
	background: #fff;
	margin-bottom: 5px;
}
.RS_list_dl dt {
	padding: 5px 15px;
	border-bottom: 1px #DBDBDB solid;
}
.RS_list_dl dt p {
	margin: 0;
	float: right;
}
.RS_list_dl dt p a {
	font-size: 16px;
	color: red;
}
.RS_list_dl dd {
	padding: 5px 15px;
}
.RS_list_dl dd a {
	display: block;
	color: inherit;
	height: 100%;
}
.RS_list_imgbox {
	position:absolute;
	width: 94px;
	height: 94px;
	text-align: center;
	overflow: hidden;
}
.RS_list_imgbox-block-right {
	margin-left: 108px;
	height: 94px;
}
.RS_list_imgbox-block-right .text-block {
	height:40px;
	line-height:20px;
	margin:6px 0 10px 0;
	font-size:15px;
	overflow: hidden;
}
.RS_list_imgbox-block-right .price {
	position: relative;
	color:#FDB338;
	
}
.RS_list_imgbox-block-right .price strong {
	font-size: 27px;
	font-weight: bold;
}
.RS_list_imgbox-block-right .price .strong-color {
	color:#888;
}
.RS_list_imgbox-block-right .price .line-right {
	font-size: 20px;
	position: absolute;
	right: 0;
	bottom: 4px;
}
/*************************************/
/***********商品列表********************/
.RS_goods {
	position: relative;
}
.RS_goods ul.nav-tabs {
	width: 72px;
	border: none;
	position: fixed;
	top: 51px;
	left: 0;
	z-index:100;
}
.RS_goods ul.nav-tabs li {
	float: none;
	font-size: 13px;
}
.RS_goods ul.nav-tabs li a {
	border: 1px solid #ddd;
	border-radius: 0;
	border-left: 2px solid transparent;
	padding: 10px 3px 10px 3px;
	word-break: break-all;
	word-wrap:break-word;
	color: #666;
}
.RS_goods ul.nav-tabs li.active a {
	border-left: 2px solid #FF4A30;
	border-right: 1px solid transparent;
}
.RS_goods .tab-content {
	margin: 0 0 0 72px;
}
.RS_goods .RS_goods_li {
	border-bottom: 1px solid #ddd;
	padding: 13px 10px;
	color: #666;
	position: relative;
}
.RS_goods .RS_goods_li .RS_goods_img {
	width: 80px; height: 80px; overflow: hidden; vertical-align: middle;
	border: 1px solid #ddd;
	position: relative;
}
.RS_goods .RS_goods_li .RS_goods_img img {
	width: 100%;
	position: absolute;left: 50%;top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%)
}
.RS_goods .RS_goods_li .RS_goods_price {
	position: absolute; right: 5px; bottom: 13px; line-height: 28px;
}
.RS_goods .RS_goods_li .RS_goods_price .RS_goods_price_del {
	line-height: 28px; padding: 0; width:28px; display: none;
}
.RS_goods .RS_goods_li .RS_goods_price .RS_goods_price_num {
	line-height: 28px; margin-right:5px; display: none;
}
.RS_goods .RS_goods_li .RS_goods_price .RS_goods_price_add {
	line-height: 28px; padding: 0; width:60px;
}
/****************************************/
/*************商品列表 底部购物车***************/
.RS_menu_cart {
	display: block;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1030;
	background: #323941;
	height: 42px;
	line-height: 42px;
	padding: 0 10px;
	font-size: 17px;
	color: #fff;
	font-family: 'Microsoft Yahei', sans-serif;
	letter-spacing: 2px;
}
.RS_menu_cart:hover, .RS_menu_cart:focus {
	color: #fff;
	text-decoration: none;
}
.RS_menu_cart i.fa {
	font-size: 24px;
}
#cart_fee:BEFORE {
	content: "￥";
}
.RS_menu_cart .RS_cart_note {
	position: absolute;
	right: 10px;
	color: #999;
}
.RS_menu_cart .RS_cart_note button {
	color: #fff;
	background-color: #4CD964;
	font-size: 16px;
	padding: 3px 18px;
}
/***************************************/
/*************购物车页面********************/
.RS_cart {
	background: #F2F2F2;
	padding-top: 10px;
}
.RS_cart .RS_cart_li:FIRST-CHILD{
	border-top: 1px solid #ddd;
	height: 98px;
}
.RS_cart .RS_cart_li {
	border-bottom: 1px solid #ddd;
	padding: 13px 10px;
	color: #666;
	position: relative;
	background: #fff;
	height: 97px;
}
.RS_cart .RS_cart_li .RS_goods_img {
	width: 50px; height: 50px; overflow: hidden; vertical-align: middle;
	border: 1px solid #ddd;
	position: absolute; left: 10px; top: 33px;
}
.RS_cart .RS_cart_li .RS_goods_img img {
	width: 100%;
	position: absolute;left: 50%;top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%)
}
.RS_cart .RS_cart_li .RS_goods_info {
	margin: 8px -10px 8px 50px;
}
.RS_cart .RS_cart_li .RS_goods_info .btn {
	margin-right: 0;
}
.RS_cart .RS_cart_li .RS_goods_info .price {
	line-height: 34px;
}
.RS_cart .RS_cart_total {
	position: relative; margin: 0;
	background: #fff; border-bottom: 1px solid #ddd; padding: 0 10px;
	line-height: 40px; font-size: 15px;
}
.RS_cart .RS_cart_confirm {
	padding-top: 40px; text-align: center; background: #fff;
}
.RS_cart .RS_cart_confirm button {
	width: 70%; font-weight: bold;
}
/****************************************/

textarea {
	max-width: 100%;
}
.main-title {
	margin: 0 0 12px;
	border-bottom: 1px dotted #e2e2e2;
	padding-bottom: 10px;
	padding-top: 7px;
}
.main-title h3,.main-title h2 {
	margin:0;
	color: #445566;
}
.RS_submit_btn {
	font-weight: bold;
	padding: 6px 40px;
}
.btn {
	margin-right: 5px;
}
.RS_form_text {
	min-height: 27px;
	padding-top: 7px;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	display: block;
}
.dataTables_paginate {
	text-align: right;
}
.dataTables_paginate .pagination {
	margin: 0 12px;
}
.icon-animated-vertical {
	display: inline-block;
	-moz-animation: vertical 2s 8 ease 3s;
	-webkit-animation: vertical 2s 8 ease 3s;
	-o-animation: vertical 2s 8 ease 3s;
	-ms-animation: vertical 2s 8 ease 3s;
	animation: vertical 2s 8 ease 3s
}

@-moz-keyframes vertical {
    0% {
        -moz-transform: translate(0,0)
    }

    4% {
        -moz-transform: translate(0,3px)
    }

    8% {
        -moz-transform: translate(0,-3px)
    }

    12% {
        -moz-transform: translate(0,3px)
    }

    16% {
        -moz-transform: translate(0,-3px)
    }

    20% {
        -moz-transform: translate(0,3px)
    }

    22% {
        -moz-transform: translate(0,0)
    }
}

@-webkit-keyframes vertical {
    0% {
        -webkit-transform: translate(0,0)
    }

    4% {
        -webkit-transform: translate(0,3px)
    }

    8% {
        -webkit-transform: translate(0,-3px)
    }

    12% {
        -webkit-transform: translate(0,3px)
    }

    16% {
        -webkit-transform: translate(0,-3px)
    }

    20% {
        -webkit-transform: translate(0,3px)
    }

    22% {
        -webkit-transform: translate(0,0)
    }
}

@-ms-keyframes vertical {
    0% {
        -ms-transform: translate(0,0)
    }

    4% {
        -ms-transform: translate(0,3px)
    }

    8% {
        -ms-transform: translate(0,-3px)
    }

    12% {
        -ms-transform: translate(0,3px)
    }

    16% {
        -ms-transform: translate(0,-3px)
    }

    20% {
        -ms-transform: translate(0,3px)
    }

    22% {
        -ms-transform: translate(0,0)
    }
}

@keyframes vertical {
    0% {
        transform: translate(0,0)
    }

    4% {
        transform: translate(0,3px)
    }

    8% {
        transform: translate(0,-3px)
    }

    12% {
        transform: translate(0,3px)
    }

    16% {
        transform: translate(0,-3px)
    }

    20% {
        transform: translate(0,3px)
    }

    22% {
        transform: translate(0,0)
    }
}
