@CHARSET "UTF-8";
body{
	overflow-x:hidden;
}

/*************导定制航条************/
.navbar {
	margin-bottom: 0px;
}
.navbar-fixed-top .navbar-collapse {
	max-height: none;
}
.page-content {
	background-color: #fff;
	position: relative;
	margin: 0;
	padding: 8px 15px 24px;
}
.navbar-inverse {
	background-color: #FF4A30;
	border-color: #FF4A30;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-inverse .navbar-toggle {
	border-color: #C0392B;
	float:left;
	margin-left: 15px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	border-color: #C0392B;
	background-color: #C0392B;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #C0392B;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #C0392B;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #C0392B;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #C0392B;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #fff;
}
.navbar-brand {
	padding: 0;
	position: relative;
}
.RS_navbar_td {
	width:33%;
	display: table-cell;
}
.RS_navbar_cart {
	position: relative;
	float: right;
	height:100%;
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	margin-right: 15px;
	background-color: transparent;
	background-image: none;
}
/**********************************/
/*************首页搜索框定制************/
.RS_search_input_group {
	width: 95%;
	margin:0 auto;
}

.RS_search_input_group .form-control {
	font-size: 18px;
	height: 40px;
}
.RS_search_input_group .form-control:first-child{
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
}
.RS_search_btn {
	color: #fff;
	background: #B1B1B1 ;
	height: 40px;
	font-size: 24px;
	padding: 2px 12px;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
	
}
/**********************************/


textarea {
	max-width: 100%;
}
.main-title {
	margin: 0 0 12px;
	border-bottom: 1px dotted #e2e2e2;
	padding-bottom: 10px;
	padding-top: 7px;
}
.main-title h3,.main-title h2 {
	margin:0;
	color: #445566;
}
.RS_submit_btn {
	font-weight: bold;
	padding: 6px 40px;
}
.btn {
	margin-right: 5px;
}
.RS_form_text {
	min-height: 27px;
	padding-top: 7px;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	display: block;
}
.dataTables_paginate {
	text-align: right;
}
.dataTables_paginate .pagination {
	margin: 0 12px;
}
.icon-animated-vertical {
	display: inline-block;
	-moz-animation: vertical 2s 8 ease 3s;
	-webkit-animation: vertical 2s 8 ease 3s;
	-o-animation: vertical 2s 8 ease 3s;
	-ms-animation: vertical 2s 8 ease 3s;
	animation: vertical 2s 8 ease 3s
}

@-moz-keyframes vertical {
    0% {
        -moz-transform: translate(0,0)
    }

    4% {
        -moz-transform: translate(0,3px)
    }

    8% {
        -moz-transform: translate(0,-3px)
    }

    12% {
        -moz-transform: translate(0,3px)
    }

    16% {
        -moz-transform: translate(0,-3px)
    }

    20% {
        -moz-transform: translate(0,3px)
    }

    22% {
        -moz-transform: translate(0,0)
    }
}

@-webkit-keyframes vertical {
    0% {
        -webkit-transform: translate(0,0)
    }

    4% {
        -webkit-transform: translate(0,3px)
    }

    8% {
        -webkit-transform: translate(0,-3px)
    }

    12% {
        -webkit-transform: translate(0,3px)
    }

    16% {
        -webkit-transform: translate(0,-3px)
    }

    20% {
        -webkit-transform: translate(0,3px)
    }

    22% {
        -webkit-transform: translate(0,0)
    }
}

@-ms-keyframes vertical {
    0% {
        -ms-transform: translate(0,0)
    }

    4% {
        -ms-transform: translate(0,3px)
    }

    8% {
        -ms-transform: translate(0,-3px)
    }

    12% {
        -ms-transform: translate(0,3px)
    }

    16% {
        -ms-transform: translate(0,-3px)
    }

    20% {
        -ms-transform: translate(0,3px)
    }

    22% {
        -ms-transform: translate(0,0)
    }
}

@keyframes vertical {
    0% {
        transform: translate(0,0)
    }

    4% {
        transform: translate(0,3px)
    }

    8% {
        transform: translate(0,-3px)
    }

    12% {
        transform: translate(0,3px)
    }

    16% {
        transform: translate(0,-3px)
    }

    20% {
        transform: translate(0,3px)
    }

    22% {
        transform: translate(0,0)
    }
}
