@CHARSET "UTF-8";

body{
	background:url(../images/store_login_bg.png) #999897 no-repeat fixed!important
}

#login-wraper {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  display: block;
  *margin-top:-180px;
  _margin-top:-180px;
  padding: 25px;
  background: white;
  text-align: center;
}

.login-form legend {
  padding-bottom: 10px;
}

.login-form .login_body {
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.login_body input{
	width: 60%;
	height:30px;
	border-radius:4px;
	border:1px solid #ccc;
}
.verify{
	width: 30% !important;
}	
.login-form label {
	font-size: 20px;
	color: #333333;
	font-weight: 300;
	width:100%;
	margin-top:5px;
	margin-bottom:0 !important;
}

.login-form .login_footer {
  margin-top: 10px;
}
