<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>{$Think.config.web_site_title}</title>
	<meta name="keywords" content="{$Think.config.web_site_keyword}" />
	<meta name="description" content="{$Think.config.web_site_description}" />
	
	<!-- Bootstrap -->
	<link href="__PUBLIC__/twbs.3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	
	<!-- home basic css -->
	<link href="__CSS__/home.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="__JS__/html5shiv.min.js"></script>
	<script src="__JS__/respond.min.js"></script>
	<![endif]-->
</head>