<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>{$Think.config.web_site_title}</title>
	<meta name="keywords" content="{$Think.config.web_site_keyword}" />
	<meta name="description" content="{$Think.config.web_site_description}" />
	
	<!-- Bootstrap -->
	<link href="__PUBLIC__/twbs.3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	
	<!-- home basic css -->
	<link href="__CSS__/home.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="__JS__/html5shiv.min.js"></script>
	<script src="__JS__/respond.min.js"></script>
	<![endif]-->
</head>
<body style="padding-top:51px;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			购物车
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="{:U('Store/goods?sid='.$storeinfo['id'])}"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
	<div class="RS_cart">
	</div>
</div>

<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="__PUBLIC__/twbs.3.3.1/js/bootstrap.min.js"></script>
<!-- JS script include start end -->
<script src="__JS__/localstorge.package.js"></script>

<script type="text/javascript">
var mytokenurl = "{:U('Index/bulidMem?tk='.session('__HmId__'))}";
var storeid = {$storeinfo['id']};
var minsend = {$storeinfo['min_send']}; //当前店铺起送价
var cart = {
		fee : 0, //总金额,只用于当前页面显示计算	不用做订单统计
		num : 0 //总数量,只用于当前页面显示计算	不用做订单统计
}; //购物车

$(function($) {
	storage_cart = LS.get("cart");
	var cartdata = {};
	try {
		storage_cart = JSON.parse(storage_cart);
		cartdata = storage_cart[storeid];
	} catch (e) {
		storage_cart = new Object();
	}
	if (typeof(storage_cart) !== "object" || storage_cart === null) {
		storage_cart = new Object();
		eval("storage_cart['"+storeid+"'] = new Object();");
	}else {
		try {
			if (typeof(storage_cart[storeid]) !== "object") storage_cart[storeid] = new Object();
		} catch (e) {
			eval("storage_cart['"+storeid+"'] = new Object();");
		}
	}
	
	$.ajax({
		cache: false,
		type:  "post",
		url: "{:U('cartFlush')}",
		data: {sid:storeid,cart:cartdata},
		dataType: "html",
		async: true, //同步请求, 其它操作必须等待请求完成才可以执行
		success: function(dd) {
			$(".RS_cart").html(dd);
			//初始化购物车统计信息
			$(".RS_goods_num").attr("data-price")
		}
	});
	$(".RS_cart").on("click",".RS_goods_minus",function(){
		//减少数量
		cartgoods(this.dataset.goods,-1);
		
		var goodsid = this.dataset.goods;
		var num = parseInt($(".RS_goods_num[data-goods='"+goodsid+"']").attr("data-nums"));
		if (num > 0) {
			num = num-1;
			$(".RS_goods_num[data-goods='"+goodsid+"']").attr("data-nums",num);
			$("#RS_totalprice").html(parseInt($("#RS_totalprice").html())-parseInt(this.dataset.price));
		}
		if (num<=0){
			$(this).parents(".RS_cart_li").hide("normal");
		}
		//TODO 储存localStorge
		//TODO 结算一下, 看起送价够不够
	});
	$(".RS_cart").on("click",".RS_goods_plus",function(){
		//增加数量
		cartgoods(this.dataset.goods,1);
		
		var num = parseInt($(".RS_goods_num[data-goods='"+goodsid+"']").attr("data-nums"));
		if (num > 0) {
			num = num+1;
			$(".RS_goods_num[data-goods='"+goodsid+"']").attr("data-nums",num);
			$("#RS_totalprice").html(parseInt($("#RS_totalprice").html())-parseInt(this.dataset.price));
		}
		if (num<=0){
			$(this).parents(".RS_cart_li").hide("normal");
		}
		//TODO 储存localStorge
		//TODO 结算一下, 看起送价够不够
	});
	
});

function cartgoods(goodsid,num) {
	num = parseInt(num);
	var goodsnum = parseInt($(".RS_goods_num[data-goods='"+goodsid+"']").attr("data-nums"));
	if (goodsnum > 0) {
		if (storage_cart[storeid][goodsid] == undefined || storage_cart[storeid][goodsid] <=0) {
			//购物车中没有这个商品 , 或商品数量 <=0
			if (num > 0) { //如果是减少数量就忽略
				storage_cart[storeid][goodsid] = goodsnum = num; //数量
			}
		}else {
			//购物车中有这个商品
			storage_cart[storeid][goodsid] += num; //数量
			if (storage_cart[storeid][goodsid] <= 0) {
				delete storage_cart[storeid][goodsid];
			}
		}
	}
	$(".RS_goods_price_num[data-goods='"+goodsid+"']").html(storage_cart[storeid][goodsid]);
	if (storage_cart[storeid][goodsid] <= 0) {
		$(".RS_goods_price_del[data-goods='"+goodsid+"']").hide();
		$(".RS_goods_price_num[data-goods='"+goodsid+"']").hide();
	}else {
		$(".RS_goods_price_del[data-goods='"+goodsid+"']").show();
		$(".RS_goods_price_num[data-goods='"+goodsid+"']").show();
	}
	storage_cart[storeid].time = new Date().getTime();
	LS.set("cart",JSON.stringify(storage_cart));
}
</script>
</body>
</html>