<!DOCTYPE html>
<html lang="zh-cn">
<include file="Public/header" />
<body style="padding:50px 0;">
<div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img height="50px" src="__IMG__/logo.png"></a>
			<!-- 
			<div class="RS_navbar_td">
			<a class="RS_navbar_cart" href="#"><i class="fa fa-shopping-cart"></i></a>
			</div>
			 -->
		</div>
		<div class="RS_navbar_toggle navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav RSselect">
				<!-- <foreach name="attrval" item="vo" key="ky"> -->
				<li><a href="{:U('Store/lists?attrs='.$ky)}">{$vo}</a></li>
				<!-- </foreach> -->
			</ul>
		</div>
	</div>
</div>
<div>
	<img width="100%" src="__IMG__/home_bigimg.png">
</div>
<div class="page-content">
	<div class="row">
		<div class="col-sm-12 text-center">
			<form class="form-horizontal" action="{:U('Store/lists')}" method="get">
			<fieldset>
				<div class="RS_search_input_group input-group">
					<input name="keyword" type="text" class="form-control" placeholder="请输入商家名、商品等">
					<span class="input-group-btn">
						<button class="RS_search_btn btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</fieldset>
			</form>
		</div>
	</div>
	<div class="row RS_idx_cate">
		<div class="col-xs-3 text-center">
			<a href="{:U('Store/lists')}"><img width="95%" src="__IMG__/all-attr.png"></a>
			<a href="{:U('Store/lists')}">全部分类</a>
		</div>
		<div class="col-xs-3 text-center">
			<a href="{:U('Store/lists?attrs=5')}"><img width="95%" src="__IMG__/cake.png"></a>
			<a href="{:U('Store/lists?attrs=5')}">蛋糕甜点</a>
		</div>
		<div class="col-xs-3 text-center">
			<a href="{:U('Store/lists?attrs=4')}"><img width="95%" src="__IMG__/tangguo.png"></a>
			<a href="{:U('Store/lists?attrs=4')}">休闲零食</a>
		</div>
		<div class="col-xs-3 text-center">
			<a href="{:U('Store/lists?attrs=3')}"><img width="95%" src="__IMG__/hanbao.png"></a>
			<a href="{:U('Store/lists?attrs=3')}">快餐</a>
		</div>
		
		<div class="col-xs-3 text-center">
			<a href="{:U('Store/lists?attrs=2')}"><img width="95%" src="__IMG__/cherry.png"></a>
			<a href="{:U('Store/lists?attrs=2')}">鲜果</a>
		</div>
		<div class="col-xs-3 text-center">
			<a href="{:U('Store/lists?attrs=1')}"><img width="95%" src="__IMG__/noodle.png"></a>
			<a href="{:U('Store/lists?attrs=1')}">面条米线</a>
		</div>
		<div class="col-xs-3 text-center">
			<a href="{:U('Store/lists?attrs=12')}"><img width="95%" src="__IMG__/niunai.png"></a>
			<a href="{:U('Store/lists?attrs=12')}">饮品</a>
		</div>
		<div class="col-xs-3 text-center">
			<a href="{:U('Store/lists?attrs=13')}"><img width="95%" src="__IMG__/soup.png"></a>
			<a href="{:U('Store/lists?attrs=13')}">养生粥</a>
		</div>
	</div>
</div>
{:W('Page/foot',array('Index/index'))}
<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="__PUBLIC__/twbs.3.3.1/js/bootstrap.min.js"></script>
<!-- JS script include start end -->
<script src="__JS__/localstorge.package.js"></script>

<script type="text/javascript">
var mytokenurl = "{:U('Index/bulidMem?tk='.session('__HmId__'))}";
</script>

</body>
</html>