<!DOCTYPE html>
<html lang="zh-cn">
<include file="Public/header" />
<body style="padding-top:82px;padding-bottom:50px;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			我的订单
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="{:U('Index/index')}"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="RS_list_top">
	<div class="container-fluid">
		<div class="row RS_odr_top">
			<div class="col-xs-4 text-center">
				<a class="<if condition="$condition eq 0">active</if>" href="{:U('order')}">全部</a>
			</div>
			<div class="col-xs-4 text-center">
				<a class="<if condition="$condition eq 1">active</if>" href="{:U('order?ship=0')}">待发货</a>
			</div>
			<div class="col-xs-4 text-center">
				<a class="<if condition="$condition eq 2">active</if>" href="{:U('order?ship=1&cfm=0')}">待收货</a>
			</div>
		</div>
	</div>
</div>
<div class="page-content">
	<div class="row">
		<div class="col-xs-12 RS_list_content RS_odrlist_content">
		<!-- <if condition="empty($list)"> -->
			<div class="alert alert-dismissable alert-danger text-center">
				<i class="fa fa-frown-o"></i>还没有订单, 快快去下单吧~
			</div>
		<!-- <else /> -->
			<!-- <foreach name="list" item="vo"> -->
			<dl class="RS_list_dl">
				<dt>
					<a href="{:U('Store/goods?sid='.$vo['store_id'])}"><i class="fa fa-archive"></i> {$storelist[$vo['store_id']]}</a> <i class="fa fa-angle-right"></i>
					<p>
						<!-- <if condition="$vo['ship_status'] ELT 0"> -->
						待发货
						<!-- <elseif condition="$vo['confirm'] ELT 0"/> -->
						待收货
						<!-- <else /> -->
						交易完成
						<!-- </if> -->
					</p>
				</dt>
				<dd>
					<a href="{:U('Order/info?oid='.$vo['id'])}">
						<div class="RS_odrlist_imgbox">
							<!-- <if condition="$vo['store_logo']"> -->
							<img src="__ROOT__{$vo['store_logo']}" style="height: 100%;" />
							<!-- <else /> -->
							<img src="__IMG__/none.png" style="height: 100%;" />
							<!-- </if> -->
						</div>
						<div class="RS_odrlist_imgbox-block-right">
							<div class="RS_odrlist_infotext">
								共{:get_num_odr($vo['id'])}件商品&nbsp;&nbsp;&nbsp;总计：<b>￥{$vo['amount']}</b>
							</div>
						</div>
					</a>
					<div class="RS_odrlist_btns">
						<!-- <if condition="$vo['ship_status'] ELT 0"> -->
						<a href="{:U('Order/cancel?oid='.$vo['id'])}" class="btn btn-warning bat_a_confirm">取消订单</a>
						<!-- <elseif condition="$vo['confirm'] ELT 0"/> -->
						<a href="{:U('Order/confirm?oid='.$vo['id'])}" class="btn btn-warning bat_a_confirm">确认收货</a>
						<!-- </if> -->
						<a href="{:U('Order/info?oid='.$vo['id'])}" class="btn btn-info">查看订单</a>
					</div>
				</dd>
			</dl>
			<!-- </foreach> -->
		<!-- </if> -->
		</div>
	</div>
</div>
{:W('Page/foot',array('Index/order'))}

<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="__PUBLIC__/twbs.3.3.1/js/bootstrap.min.js"></script>
<!-- JS script include start end -->
<script src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">
$(function($) {
	$(".bat_a_confirm").click(function() {
		if(confirm("确定要进行此项操作吗？")) {
			var data = {success_alert:false,reload:true};
			$(this).RSsubmit(data);
		}
		return false;
	});
});
</script>
</body>
</html>