<!DOCTYPE html>
<html lang="zh-cn">
<include file="Public/header" />
<body style="padding-top:51px;">
<div ng-group="a">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			送餐信息
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="{:U('cart?sid='.$_REQUEST['sid'])}"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
	<div class="RS_ship" onclick="togglepage('b');">
		<div class="RS_ship_box row" id="RS_cur_ads">
			<div>添加送餐地址</div>
		</div>
	</div>
	<div class="RS_ship" onclick="togglepage('d');">
		<div class="RS_ship_box row">
			<div class="col-xs-3">订单备注</div>
			<div class="RSodremark RS_ship_box_cont col-xs-9">
				
			</div>
		</div>
	</div>
	<div class="RS_ship">
		<div class="RS_ship_box row">
			<div class="col-xs-3">订单总计</div>
			<div class="col-xs-9 text-right RS_ship_box_total">￥ {$totalprice}</div>
		</div>
	</div>
	<div class="RS_ship">
		<div class="RS_ship_box">支付方式</div>
		<div class="RS_ship_box RS_ship_payments">
			餐到付款
			<i class="fa fa-check-circle active"></i>
		</div>
	</div>
	<div class="RS_cart_confirm row">
	<form id="bulidOdrForm" action="{:U('bulidOdr')}" method="post">
		<button type="submit" class="RS_70btn btn btn-success">确认下单</button>
	</form>
	</div>
</div>
</div>

<div ng-group="b" style="display: none;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			选择地址
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="javascript:void(0);" onclick="togglepage('a');"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
	<div id="address_list">
	</div>
	<div class="RS_ship">
		<div class="RS_ship_box RS_after_i" onclick="togglepage('c');">
			新增地址
			<i class="fa fa-angle-right"></i>
		</div>
	</div>
</div>
</div>

<div ng-group="c" style="display: none;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			新增地址
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="javascript:void(0);" onclick="togglepage('b');"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
		<form class="form-horizontal" onsubmit="return newaddress(this);">
		<fieldset>
	<div class="RS_ship">
			<div class="form-group">
				<input class="form-control" placeholder="请填写您的姓名" name="buyer" type="text" value="">
			</div>
			<div class="form-group input-group RS_geo_group">
				<input class="form-control RSgeo" data-group="1" placeholder="请填写详细送餐地址" name="address" type="text" value="">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="RS_geo_ready fa fa-crosshairs fa-2x" data-group="1"></i>
						<i class="RS_geo_loading fa fa-spinner fa-spin fa-2x" data-group="1"></i>
					</button>
				</span>
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="请填写能够联系到您的手机号" name="phone" type="text" value="">
			</div>
			
	</div>
	<div class="RS_cart_confirm row">
		<button class="RS_70btn btn btn-success" type="submit">新增地址</button>
	</div>
		</fieldset>
		</form>
</div>
</div>

<div ng-group="d" style="display: none;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			订单备注
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="javascript:void(0);" onclick="togglepage('a');"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
		<form class="form-horizontal" onsubmit="return update_remark(this);">
		<fieldset>
	<div class="RS_ship">
		<div class="form-group">
			<textarea name="odremark" class="form-control" rows="5" placeholder="请填写订单备注"></textarea>
		</div>
	</div>
	<div class="RS_cart_confirm row">
		<button class="RS_70btn btn btn-success" type="submit">修改备注</button>
	</div>
		</fieldset>
		</form>
</div>
</div>

<div ng-group="e" style="display: none;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			修改地址
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="javascript:void(0);" onclick="togglepage('b');"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
		<form id="updateAdsForm" class="form-horizontal" onsubmit="return updateaddress(this);">
		<fieldset>
			<input name="ads_id" value="" type="hidden">
	<div class="RS_ship">
			<div class="form-group">
				<input class="form-control" placeholder="请填写您的姓名" name="buyer" type="text" value="">
			</div>
			<div class="form-group input-group RS_geo_group">
				<input class="form-control RSgeo" data-group="2" placeholder="请填写详细送餐地址" name="address" type="text" value="">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="RS_geo_ready fa fa-crosshairs fa-2x" data-group="2"></i>
						<i class="RS_geo_loading fa fa-spinner fa-spin fa-2x" data-group="2"></i>
					</button>
				</span>
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="请填写能够联系到您的手机号" name="phone" type="text" value="">
			</div>
			
	</div>
	<div class="RS_cart_confirm row">
		<button class="RS_70btn btn btn-success" type="submit">更新地址</button>
	</div>
		</fieldset>
		</form>
</div>
</div>
<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="__PUBLIC__/twbs.3.3.1/js/bootstrap.min.js"></script>
<!-- JS script include start end -->
<script src="__JS__/localstorge.package.js"></script>
<script src="__JS__/RSsubmit.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=36pTbjjmTtlrSjYdSzvrXU9R"></script>
<script type="text/javascript">
var mytokenurl = "{:U('Index/bulidMem?tk='.session('__HmId__'))}";
var storeid = {$_REQUEST['sid']};
//var minsend = {$storeinfo['min_send']}; //当前店铺起送价
var cart = {
		fee : 0, //总金额,只用于当前页面显示计算	不用做订单统计
		num : 0 //总数量,只用于当前页面显示计算	不用做订单统计
}; //购物车
var storage_address,defaultAdd;
var geolocation;


$(function($) {
	getmylocaltion();
	$(".RS_geo_ready").on("click",function(){
		getmylocaltion(this.dataset.group);
	});
	
	storage_address = LS.get("address");
	try {
		storage_address = JSON.parse(storage_address);
		if(typeof(storage_address) != 'object' || storage_address == null) {
			storage_address = new Array();
		}
	} catch (e) {
		storage_address = new Array();
	}
	defaultAdd = LS.get("defaultAdd");//默认地址编号
	
	default_address();
	build_address();
	
	//总金额
	storage_cart = LS.get("cart");
	var cartdata = {};
	try {
		storage_cart = JSON.parse(storage_cart);
		cartdata = storage_cart[storeid];
	} catch (e) {
		storage_cart = new Object();
	}
	
	//确认下单
	$("#bulidOdrForm").on("submit",function() {
		try {
			var data = {
					mid : LS.get("id"),
					store_id : storeid,
					goods : storage_cart[storeid],
					buyer_name : storage_address[defaultAdd].buyer,
					address : storage_address[defaultAdd].address,
					phone : storage_address[defaultAdd].phone,
					order_note : $(".RSodremark").html()
			};
			$.ajax({
				cache: false,
				type:  this.method,
				url: this.action,
				data: data,
				async: false, //同步请求, 其它操作必须等待请求完成才可以执行
				success: function(dd) {
					if (dd.status == 1) {
						//成功
						delete storage_cart[storeid];
						LS.set("cart",JSON.stringify(storage_cart));
						alert(dd.info);
					}else {
						alert(dd.info);
					}
					
					if (dd.url) window.location.href = dd.url;
				}
			});
		} catch (e) {
			alert('订单信息不完整, 请填写完整的订单信息!');
		}
		return false;
	});
});

function getmylocaltion() {
	var group = arguments[0] ? arguments[0] : 1;
	var $RSgeo = $(".RSgeo[data-group='"+group+"']");
	var $RSready = $(".RS_geo_ready[data-group='"+group+"']");
	var $RSloading = $(".RS_geo_loading[data-group='"+group+"']");
	$RSgeo.prop("readonly",true);
	$RSready.hide();
	$RSloading.show();
	
	geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){
			var myGeo = new BMap.Geocoder(); 
			myGeo.getLocation(r.point, function(result){
				if (result){
					$RSgeo.val(result.address);
				}
			});
		}
		else {
			alert('failed'+this.getStatus());
		}
		$RSgeo.prop("readonly",false);
		$RSloading.hide();
		$RSready.show();
	},{enableHighAccuracy: true})
	//关于状态码
	//BMAP_STATUS_SUCCESS	检索成功。对应数值“0”。
	//BMAP_STATUS_CITY_LIST	城市列表。对应数值“1”。
	//BMAP_STATUS_UNKNOWN_LOCATION	位置结果未知。对应数值“2”。
	//BMAP_STATUS_UNKNOWN_ROUTE	导航结果未知。对应数值“3”。
	//BMAP_STATUS_INVALID_KEY	非法密钥。对应数值“4”。
	//BMAP_STATUS_INVALID_REQUEST	非法请求。对应数值“5”。
	//BMAP_STATUS_PERMISSION_DENIED	没有权限。对应数值“6”。(自 1.1 新增)
	//BMAP_STATUS_SERVICE_UNAVAILABLE	服务不可用。对应数值“7”。(自 1.1 新增)
	//BMAP_STATUS_TIMEOUT	超时。对应数值“8”。(自 1.1 新增)
}

function togglepage(group) {
	$("div[ng-group]").hide();
	$("div[ng-group='"+group+"']").show();
}

function newaddress(form) {
	var ads = new Object();
	ads.buyer = form.buyer.value;
	ads.address = form.address.value;
	ads.phone = form.phone.value;
	if (ads.buyer == '' || ads.address == '' || ads.phone == '') {
		alert('收货信息不完整! ');
		return false;
	}
	//更新LS
	storage_address.push(ads);
	LS.set("address",JSON.stringify(storage_address));
	//重新生成地址列表
	build_address();
	//
	togglepage('b');
	form.reset();
	return false;
}
function editaddress(ele) {
	var tmpads_id = $(ele).parents(".RS_ship_box").children("div[data-ads]").attr("data-ads");
	var tmpaddress = storage_address[tmpads_id];//修改的地址
	var theform = $("#updateAdsForm")[0];
	theform.ads_id.value = tmpads_id;
	theform.buyer.value = tmpaddress.buyer;
	theform.address.value = tmpaddress.address;
	theform.phone.value = tmpaddress.phone;
	togglepage('e');
}
function updateaddress(form) {
	var ads = new Object();
	ads.buyer = form.buyer.value;
	ads.address = form.address.value;
	ads.phone = form.phone.value;
	if (ads.buyer == '' || ads.address == '' || ads.phone == '' || form.ads_id.value <0 || form.ads_id.value =='') {
		alert('收货信息不完整! ');
		return false;
	}
	
	storage_address[form.ads_id.value] = ads;
	LS.set("address",JSON.stringify(storage_address));
	build_address();
	togglepage('b');
	form.reset();
	return false;
}
function deladdress(ele) {
	//更新LS
	var $parent = $(ele).parents(".RS_ship_box");
	delete storage_address[$parent.children("div[data-ads]").attr("data-ads")];
	LS.set("address",JSON.stringify(storage_address));
	$parent.hide("normal");
}
function chgaddress(ele) {
	$("#RS_cur_ads").html($(ele).html());
	//更新LS, 默认的地址
	defaultAdd = ele.dataset.ads;
	LS.set("defaultAdd",defaultAdd);
	togglepage('a');
}
//地址列表生成
function build_address() {
	var html = '';
	try {
		var newaddress = new Array();
		$.each(storage_address,function(i,v) {
			if (typeof(v) === "object" && v !== null) {
				var newid = newaddress.push(v);
				newid--;
				html += '<div class="RS_ship">';
				html += '<div class="RS_ship_box row">';
				html += '<div onclick="chgaddress(this);" data-ads="'+newid+'">';
				html += '<p>'+v.address+'</p>';
				html += '<p class="phone">'+v.buyer+' / '+v.phone+'</p>';
				html += '</div>';
				html += '<div class="RS_ship_address_del"><button class="btn btn-info" onclick="editaddress(this);"><i class="fa fa-pencil-square-o"></i></button><button class="btn btn-danger" onclick="deladdress(this);"><i class="fa fa-times"></i></button></div>';
				html += '</div>';
				html += '</div>';
			}
		});
		storage_address = newaddress;
		LS.set("address",JSON.stringify(storage_address));
		if (html!='') {
			$("#address_list").html(html);
		}
	} catch (e) {}
}
//避免默认地址编号错误, 必须优先于列表生成
function default_address() {
	var html = '';
	try {
		html += '<div><p>'+storage_address[defaultAdd].address+'</p><p>'+storage_address[defaultAdd].buyer+' / '+storage_address[defaultAdd].phone+'</p></div>';
	} catch (e) {
		html += '<div>添加送餐地址</div>';
	}
	$("#RS_cur_ads").html(html);
}
//修改备注
function update_remark(ele) {
	$(".RSodremark").html(ele.odremark.value);
	togglepage('a');
	return false;
}
</script>
</body>
</html>