<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>{$Think.config.web_site_title}</title>
	<meta name="keywords" content="{$Think.config.web_site_keyword}" />
	<meta name="description" content="{$Think.config.web_site_description}" />
	
	<!-- Bootstrap -->
	<link href="__PUBLIC__/twbs.3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	
	<!-- home basic css -->
	<link href="__CSS__/home.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="__JS__/html5shiv.min.js"></script>
	<script src="__JS__/respond.min.js"></script>
	<![endif]-->
</head>
<body style="padding-top:51px;">
<div ng-group="a">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			送餐信息
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="{:U('cart?sid='.$_REQUEST['sid'])}"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
	<div class="RS_ship" onclick="togglepage('b');">
		<div class="RS_ship_box row" id="RS_cur_ads">
			<div>
				<p>添加送餐地址</p>
				<p>啊啊啊啊 / 133333333333</p>
			</div>
		</div>
	</div>
	<div class="RS_ship">
		<div class="RS_ship_box row">
			<div class="col-xs-3">订单备注</div>
			<div class="RS_ship_box_cont col-xs-9">
				没零钱 不要葱姜蒜 不吃辣 辣一点 多加米 没零钱 不要葱姜蒜 不吃辣 辣一点 多加米
			</div>
		</div>
	</div>
	<div class="RS_ship">
		<div class="RS_ship_box row">
			<div class="col-xs-3">订单总计</div>
			<div class="col-xs-9 text-right RS_ship_box_total">¥ 100</div>
		</div>
	</div>
	<div class="RS_ship">
		<div class="RS_ship_box">支付方式</div>
		<div class="RS_ship_box RS_ship_payments">
			餐到付款
			<i class="fa fa-check-circle active"></i>
		</div>
	</div>
	<div class="RS_cart_confirm row">
		<a class="RS_70btn btn btn-success" href="{:U('ship?sid='.$_REQUEST['sid'])}">确认下单</a>
	</div>
</div>
</div>
<div ng-group="b" style="display: none;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			选择地址
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="javascript:void(0);" onclick="togglepage('a');"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
	<div id="address_list">
		<div class="RS_ship">
			<div class="RS_ship_box row">
				<div onclick="chgaddress(this);" data-ads="1">
					<p>啊啊啊说说址</p>
					<p>啊啊啊啊 / 133333333333</p>
				</div>
				<div class="RS_ship_address_del"><button class="btn btn-danger" onclick="deladdress(this);">删除</button></div>
			</div>
		</div>
	</div>
	<div class="RS_ship">
		<div class="RS_ship_box RS_after_i" onclick="togglepage('c');">
			新增地址
			<i class="fa fa-angle-right"></i>
		</div>
	</div>
</div>
</div>
<div ng-group="c" style="display: none;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			新增地址
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="javascript:void(0);" onclick="togglepage('b');"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content default-page-content">
		<form class="form-horizontal" onsubmit="newaddress(this);return false;">
		<fieldset>
	<div class="RS_ship">
			<div class="form-group">
				<input class="form-control" placeholder="请填写您的姓名" name="buyer" type="text" value="">
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="请填写详细送餐地址" name="address" type="text" value="">
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="请填写能够联系到您的手机号" name="phone" type="text" value="">
			</div>
	</div>
	<div class="RS_cart_confirm row">
		<button class="RS_70btn btn btn-success" type="submit">新增地址</button>
	</div>
		</fieldset>
		</form>
</div>
</div>
<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="__PUBLIC__/twbs.3.3.1/js/bootstrap.min.js"></script>
<!-- JS script include start end -->
<script src="__JS__/localstorge.package.js"></script>

<script type="text/javascript">
var mytokenurl = "{:U('Index/bulidMem?tk='.session('__HmId__'))}";
var storeid = {$_REQUEST['sid']};
//var minsend = {$storeinfo['min_send']}; //当前店铺起送价
var cart = {
		fee : 0, //总金额,只用于当前页面显示计算	不用做订单统计
		num : 0 //总数量,只用于当前页面显示计算	不用做订单统计
}; //购物车

$(function($) {
	storage_address = LS.get("address");
	try {
		storage_address = JSON.parse(storage_address);
	} catch (e) {
		storage_address = new Array();
	}
	build_address();
});

function togglepage(group) {
	$("div[ng-group]").hide();
	$("div[ng-group='"+group+"']").show();
}

function newaddress(form) {
	var ads = new Object();
	ads.buyer = form.buyer.value;
	ads.address = form.address.value;
	ads.phone = form.phone.value;
	//更新LS
	storage_address.push(ads);
	LS.set("address",JSON.stringify(storage_address));
	//重新生成地址列表
	build_address();
	//
	togglepage('b');
}
function deladdress(ele) {
	//更新LS
	var $parent = $(ele).parents(".RS_ship_box");
	delete storage_address[$parent.children("div[data-ads]").attr("data-ads")];
	LS.set("address",JSON.stringify(storage_address));
	$parent.hide("normal");
}
function chgaddress(ele) {
	$("#RS_cur_ads").html($(ele).html());
	//更新LS, 默认的地址
	LS.set("defaultAdd",ele.dataset.ads);
	togglepage('a');
}
//地址列表生成
function build_address() {
	var html = '';
	$.each(storage_address,function(i,v){
		if (typeof(v) === "object") {
			html += '<div class="RS_ship">';
			html += '<div class="RS_ship_box row">';
			html += '<div onclick="chgaddress(this);" data-ads="'+i+'">';
			html += '<p>'+v.address+'</p>';
			html += '<p>'+v.buyer+' / '+v.phone+'</p>';
			html += '</div>';
			html += '<div class="RS_ship_address_del"><button class="btn btn-danger" onclick="deladdress(this);">删除</button></div>';
			html += '</div>';
			html += '</div>';
		}
	});
	if (html!='') {
		$("#address_list").html(html);
	}
}
</script>
</body>
</html>