
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>商品管理 - 平台管理中心</title>

	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/font-awesome/4.1.0/css/font-awesome.min.css" />

	<!-- page specific plugin styles -->

	<!-- text fonts -->
	<link rel="stylesheet" href="__PUBLIC__/assets/fonts/fonts.googleapis.com.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" id="main-ace-style" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-part2.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->
	<link rel="stylesheet" href="__PUBLIC__/zTree/zTreeMetro.css" />

	<!-- ace settings handler -->
	<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="__PUBLIC__/assets/js/html5shiv.min.js"></script>
	<script src="__PUBLIC__/assets/js/respond.min.js"></script>
	<![endif]-->
	
	<style type="text/css">
.ztree li span.button.switch.level0 {visibility:hidden; width:1px;}
.ztree li ul.level0 {padding:0; background:none;}
	</style>
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>
	{:W('Page/top')}
	<!-- /.navbar-container -->
</div>

<div class="main-container" id="main-container">
<script type="text/javascript">
	try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>

<div id="sidebar" class="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>
	{:W('Page/menu',array(6))}
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>

<div class="main-content">
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="{:U('Index/index')}">首页</a>
		</li>
		<li><a href="{:U('Store/lists')}">店铺管理</a></li>
		<li><a href="{:U('Goods/lists?sid='.$info['store_id'])}">商品管理</a></li>
		<li class="active">商品详细</li>
	</ul><!-- /.breadcrumb -->
</div>

<div class="page-content">

<div class="page-content-area">
<div class="page-header">
	<h1>商品详细</h1>
	<button class="btn btn-sm btn-yellow no-border" onclick="window.history.go(-1);" style="position:absolute;top:15px;right:40px;">
		<i class="ace-icon fa fa-reply"></i>
		返回
	</button>
</div><!-- /.page-header -->

<div class="row">

	<div class="col-xs-12">
	<form class="form-horizontal" role="form" action="{:U('Goods/update')}" method="post" onsubmit="$(this).RSsubmit({success_alert:true,reload:true});return false;">
		<div class="form-group">
			<label class="col-sm-3 control-label"> 商品名称 </label>
			<div class="col-sm-9">
				<input type="text" name="goods_name" value="{$info['goods_name']}" class="input-xlarge" />
			</div>
			<input type="hidden" name="id" value="{$info['id']}" />
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"> 所属店铺 </label>
			<div class="col-sm-9">
				<input type="text" name="store_name" value="{$store_info['store_name']}" class="input-xlarge" readonly="readonly" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"> 所属分类 </label>
			<div class="col-sm-9">
				<input type="text" id="cate_name" onclick="showcate();" name="cate_name" value="{$info['cate_name']}" class="input-xlarge" readonly="readonly" />
			</div>
			<input id="cate_id" type="hidden" name="cate_id" value="0">
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"> 商品价格 </label>
			<div class="col-sm-9">
				<input type="text" name="price" value="{$info['price']}" class="col-xs-1" />
				<span class="help-inline col-xs-12 col-sm-7">
					<span class="middle">单位: 元; 2位小数</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"> 商品缩略图 </label>
			<div class="col-sm-3">
				<input type="file" name="image" value="{$info['image']}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"> 排序 </label>
			<div class="col-sm-9">
				<input type="text" name="sort" value="{$info['sort']}" class="col-xs-1" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"> 状态 </label>
			<div class="radio">
				<label>
					<!-- <if condition="$info['status'] eq 1"> -->
					<input name="status" value="1" type="radio" class="ace" checked="checked">
					<!-- <else /> -->
					<input name="status" value="1" type="radio" class="ace">
					<!-- </if> -->
					<span class="lbl"> 正常</span>
				</label>
				<label>
					<!-- <if condition="$info['status'] eq 0"> -->
					<input name="status" value="0" type="radio" class="ace" checked="checked">
					<!-- <else /> -->
					<input name="status" value="0" type="radio" class="ace">
					<!-- </if> -->
					<span class="lbl"> 禁用</span>
				</label>
				<label>
					<!-- <if condition="$info['status'] eq -1"> -->
					<input name="status" value="-1" type="radio" class="ace" checked="checked">
					<!-- <else /> -->
					<input name="status" value="-1" type="radio" class="ace">
					<!-- </if> -->
					<span class="lbl"> 删除</span>
				</label>
			</div>
		</div>
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i>
					提交
				</button>
				&nbsp; &nbsp; &nbsp;
				<button class="btn" type="reset">
					<i class="ace-icon fa fa-undo bigger-110"></i>
					重置
				</button>
			</div>
		</div>
	</form>
	</div>
</div><!-- /.row -->
	
{$_page}

</div><!-- /.page-content-area -->
</div><!-- /.page-content -->
</div><!-- /.main-content -->

{:W('Page/foot')}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
	<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<div id="selectcateContent" style="display:none; position: absolute;">
	<div class="widget-body" style="background: #f0f6e4;overflow-y:scroll;overflow-x:auto;border: 1px solid #617775;">
		<div class="widget-main no-padding-left no-padding-right">
			<ul id="selectcate" class="ztree" style="margin-top:0;"></ul>
		</div>
	</div>
</div>

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>

<!-- ace scripts -->
<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
<script src="__PUBLIC__/assets/js/ace.min.js"></script>

<script src="__PUBLIC__/zTree/jquery.ztree.core-3.5.min.js"></script>
<script src="__JS__/RSsubmit.js"></script>
<script type="text/javascript">
function showcate() {
	var selectObj = $("#cate_name");
	var selectOffset = $("#cate_name").offset();
	$("#selectcateContent").css({left:selectOffset.left + "px", top:selectOffset.top + selectObj.outerHeight() + "px"}).slideDown("fast");
	$("body").bind("mousedown", onBodyDown);
}
function hidecate() {
	$("#selectcateContent").fadeOut("fast");
	$("body").unbind("mousedown", onBodyDown);
}
function onBodyDown(event) {
	if (!(event.target.id == "cate_name" || event.target.id == "selectcateContent" || $(event.target).parents("#selectcateContent").length>0)) {
		hidecate();
	}
}

//选择父级用的 树
var setting = {
	view: {
		dblClickExpand: true,
		showLine: true,
		selectedMulti: false,
		expandSpeed: "",
		showIcon:function(treeId, treeNode){
			return treeNode.id !=0; //根节点不显示图标
		}
	},
	data: {
		simpleData: {
			enable: true
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			$("#cate_name").val(treeNode.name);
			$("#cate_id").val(treeNode.id);
			hidecate();
			return true;
		}
	}
};

var zNodes = {$tree_json};

jQuery(function($) {
	$.fn.zTree.init($("#selectcate"), setting, zNodes);
	
	$(".RSckedit").on('click',function(){
		if (this.checked === true) {
			$(".RSckedit").not($(this)).prop("checked",false);
		}
	});
	
	$(".RShandle_btn").on('click',function(){
		var checkedbox = $(".RSckedit:checked:first");
		if (checkedbox.length == 1) {
			checkedbox.parent().find("."+$(this).attr('data-call')).click();
		}
	});
	
	$(".bat_a_handle").click(function(){
		$(this).RSsubmit({success_alert:true,reload:true});
		return false;
	});
	$(".a_jump").click(function(){
		window.location.href = $(this).attr('href');
	})
})
</script>


</body>
</html>
