<!DOCTYPE html>
<html lang="zh-cn">
<include file="Public/header" />
<body style="padding-top:51px;padding-bottom:42px;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			{$storeinfo['store_name']}
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="{:U('Store/lists')}"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content goods-page-content">
	<div class="RS_goods">
	<!-- <if condition="empty($list)"> -->
		<div class="alert alert-dismissable alert-danger text-center">
			该店暂无商品
		</div>
	<!-- <else /> -->
		<ul class="nav nav-tabs" role="tablist">
		<!-- <foreach name="list" item="caterow" key="catekey"> -->
			<li role="presentation" class=" <if condition="$catekey eq 0">active</if> "><a href="#tab-category-{$caterow['id']}" role="tab" data-toggle="tab">{$caterow['cate_name']}</a></li>
		<!-- </foreach> -->
		</ul>
		<div class="tab-content">
		<!-- <foreach name="list" item="caterow" key="catekey"> -->
			<div role="tabpanel" class="tab-pane <if condition="$catekey eq 0"> active </if>" id="tab-category-{$caterow['id']}">
			<!-- <foreach name="caterow['goods']" item="goodsrow"> -->
				<div class="RS_goods_li">
					<div>{$goodsrow['goods_name']}</div>
					<div class="RS_goods_img">
						<!-- <if condition="$goodsrow['image']"> -->
						<img src="__ROOT__{$goodsrow['image']}">
						<!-- <else /> -->
						<img src="__IMG__/none.png">
						<!-- </if> -->
					</div>
					<div class="RS_goods_price">
						<button class="RS_goods_price_del btn btn-primary" data-price="{$goodsrow['price']}" data-goods="{$goodsrow['id']}"><b>—</b></button>
						<span class="RS_goods_price_num" data-goods="{$goodsrow['id']}">1</span>
						<button class="RS_goods_price_add btn btn-primary" data-price="{$goodsrow['price']}" data-goods="{$goodsrow['id']}">¥{$goodsrow['price']}</button>
					</div>
				</div>
			<!-- </foreach> -->
			</div>
		<!-- </foreach> -->
		</div>
	<!-- </if> -->
	</div>
</div>
<a class="RS_menu_cart" href="{:U('Index/cart?sid='.$storeinfo['id'])}">
	<i class="fa fa-shopping-cart"></i>
	<span id="cart_num">0</span>份 <span id="cart_fee">0</span>
	<span class="RS_cart_note">
		<span>还差￥{$storeinfo['min_send']}起送</span>
		<button class="btn btn-success" style="display: none;">去结算</button>
	</span>
</a>

<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="__PUBLIC__/twbs.3.3.1/js/bootstrap.min.js"></script>
<!-- JS script include start end -->
<script src="__JS__/localstorge.package.js"></script>

<script type="text/javascript">
var mytokenurl = "{:U('Index/bulidMem?tk='.session('__HmId__'))}";
var storeid = {$storeinfo['id']};
var minsend = {$storeinfo['min_send']}; //当前店铺起送价
var cart = {
		fee : 0, //总金额,只用于当前页面显示计算	不用做订单统计
		num : 0 //总数量,只用于当前页面显示计算	不用做订单统计
}; //购物车
var storage_cart;

$(function($) {
	storage_cart = LS.get("cart");
	try {
		storage_cart = JSON.parse(storage_cart);
	} catch (e) {
		storage_cart = new Object();
	}
	if (typeof(storage_cart) !== "object" || storage_cart === null) {
		storage_cart = new Object();
		eval("storage_cart['"+storeid+"'] = new Object();");
	}else {
		try {
			if (typeof(storage_cart[storeid]) !== "object") storage_cart[storeid] = new Object();
		} catch (e) {
			eval("storage_cart['"+storeid+"'] = new Object();");
		}
	}
	
	initcart();
	$(".RS_goods_price_add").on("click",function() {
		cartgoods(this.dataset.goods,1);
		cart.fee += parseFloat(this.dataset.price);
		cart.num++;
		jiesuan();
	});
	$(".RS_goods_price_del").on("click",function() {
		if (cart.num <= 0) {
			cart.fee = 0;cart.num = 0;
		}else {
			cartgoods(this.dataset.goods,-1);
			cart.fee -= parseFloat(this.dataset.price);
			cart.num--;
		}
		jiesuan();
	});
	
	$(".RS_menu_cart").on("click",function(){
		//判断起送价是否达到要求
		if (cart.fee < minsend || cart.fee<=0) {
			//未达到要求
			alert('未到到配送要求, 请继续选购~');
			event.preventDefault();
		}
	});
});
//购物车初始化
function initcart() {
	//storage_cart[storeid] 格式 {id:数量,id:数量}
	$.each(storage_cart[storeid],function(k,v) {
		v = parseInt(v);
		if (v > 0) { //数量小于等于0 忽略
			var $tmp_num = $(".RS_goods_price_num[data-goods='"+k+"']");
			var $tmp_del = $(".RS_goods_price_del[data-goods='"+k+"']");
			if ($tmp_num.length == 1 && $tmp_del.length ==1) {
				$tmp_num.html(v);
				$tmp_del.show();
				$tmp_num.show();
				cart.num += v;
				cart.fee += parseFloat($tmp_del.attr("data-price")) * v;
			}
		}
	});
	jiesuan();
}
function cartgoods(goodsid,num) {
	num = parseInt(num);
	if (storage_cart[storeid][goodsid] == undefined || storage_cart[storeid][goodsid] <=0) {
		//购物车中没有这个商品 , 或商品数量 <=0
		if (num > 0) { //如果是减少数量就忽略
			storage_cart[storeid][goodsid] = num; //数量
		}
	}else {
		//购物车中有这个商品
		storage_cart[storeid][goodsid] += num; //数量
	}
	$(".RS_goods_price_num[data-goods='"+goodsid+"']").html(storage_cart[storeid][goodsid]);
	if (storage_cart[storeid][goodsid] == undefined || storage_cart[storeid][goodsid] <= 0) {
		$(".RS_goods_price_del[data-goods='"+goodsid+"']").hide();
		$(".RS_goods_price_num[data-goods='"+goodsid+"']").hide();
		delete storage_cart[storeid][goodsid]; //商品数量小于等于0 ,就清空此商品
	}else {
		$(".RS_goods_price_del[data-goods='"+goodsid+"']").show();
		$(".RS_goods_price_num[data-goods='"+goodsid+"']").show();
	}
	storage_cart[storeid].time = new Date().getTime();
	LS.set("cart",JSON.stringify(storage_cart));
}
function jiesuan() {
	$("#cart_num").html(cart.num);
	$("#cart_fee").html(cart.fee);
	if (cart.fee >= minsend && cart.fee>0) {
		$(".RS_cart_note span").hide();
		$(".RS_cart_note button").show();
	}else {
		$(".RS_cart_note span").html("还差￥"+ parseInt(minsend-cart.fee) +"起送");
		$(".RS_cart_note button").hide();
		$(".RS_cart_note span").show();
	}
}
</script>
</body>
</html>