<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>{$Think.config.web_site_title}</title>
	<meta name="keywords" content="{$Think.config.web_site_keyword}" />
	<meta name="description" content="{$Think.config.web_site_description}" />
	
	<!-- Bootstrap -->
	<link href="__PUBLIC__/twbs.3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	
	<!-- home basic css -->
	<link href="__CSS__/home.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="__JS__/html5shiv.min.js"></script>
	<script src="__JS__/respond.min.js"></script>
	<![endif]-->
</head>
<body style="padding-top:51px;padding-bottom:42px;">
<div class="RS_topbar navbar navbar-inverse navbar-fixed-top " role="navigation">
	<div class="RS_topbar_mid">
		<div class="RS_topbar_mid_auto">
			{$storeinfo['store_name']}
		</div>
	</div>
	<div class="RS_topbar_left">
		<a class="RS_navbar_back" href="{:U('Store/lists')}"><i class="fa fa-chevron-left"></i>返回</a>
	</div>
</div>
<div class="page-content goods-page-content">
	<div class="RS_goods">
	<!-- <if condition="empty($list)"> -->
		<div class="alert alert-dismissable alert-danger text-center">
			该店暂无商品
		</div>
	<!-- <else /> -->
		<ul class="nav nav-tabs" role="tablist">
		<!-- <foreach name="list" item="caterow" key="catekey"> -->
			<li role="presentation" class=" <if condition="$catekey eq 0">active</if> "><a href="#tab-category-{$caterow['id']}" role="tab" data-toggle="tab">{$caterow['cate_name']}</a></li>
		<!-- </foreach> -->
		</ul>
		<div class="tab-content">
		<!-- <foreach name="list" item="caterow" key="catekey"> -->
			<div role="tabpanel" class="tab-pane <if condition="$catekey eq 0"> active </if>" id="tab-category-{$caterow['id']}">
			<!-- <foreach name="caterow['goods']" item="goodsrow"> -->
				<div class="RS_goods_li">
					<div>{$goodsrow['goods_name']}</div>
					<div class="RS_goods_img">
						<img src="__ROOT__{$goodsrow['image']}">
					</div>
					<div class="RS_goods_price">
						<button class="RS_goods_price_del btn btn-primary"><b>—</b></button>
						<span class="RS_goods_price_num">1</span>
						<button class="RS_goods_price_add btn btn-primary">¥{$goodsrow['price']}</button>
					</div>
				</div>
			<!-- </foreach> -->
			</div>
		<!-- </foreach> -->
		</div>
	<!-- </if> -->
	</div>
</div>
<a class="RS_menu_cart" href="#">
	<i class="fa fa-shopping-cart"></i>
	<span id="cart_num">0</span>份 ¥<span id="cart_fee">0</span>
	<span class="RS_cart_note">
		<span>还差¥8起送</span>
		<!-- <button class="btn btn-success">去结算</button> -->
	</span>
</a>

<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="__PUBLIC__/twbs.3.3.1/js/bootstrap.min.js"></script>
<!-- JS script include start end -->

<script type="text/javascript">
$(function($) {
	// 你可以在这里继续使用$作为别名...
	
});
</script>
</body>
</html>