<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>{$Think.config.web_site_title}</title>
	<meta name="keywords" content="{$Think.config.web_site_keyword}" />
	<meta name="description" content="{$Think.config.web_site_description}" />
	
	<!-- Bootstrap -->
	<link href="__PUBLIC__/twbs.3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	
	<!-- store basic css -->
	<link href="__CSS__/store.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="__JS__/html5shiv.min.js"></script>
	<script src="__JS__/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="page-content">
	<div class="main-title">
		<h3>店铺类别</h3>
	</div>
	<div class="row">
		<div class="col-sm-12">
		<form class="form-horizontal" action="{:U('attrUpdate')}" method="post">
		<fieldset>
			<table class="table table-bordered table-hover">
				<tbody>
					<!-- <foreach name="attr_hash" item="attr"> -->
					<tr>
						<td class="text-center"><b>{$attr['attr_name']}</b></td>
						<td>
							<!-- <foreach name="attr" item="attr_val"> --> <!-- <foreach name="attr_val" item="vo"> -->
							<span style="padding-left: 10px;"> <!-- <if condition="in_array($vo['id'],$store_attrs)"> -->
								<input name="vals[]" type="checkbox" class="ace"
								value="{$vo['id']}" checked="checked"> <!-- <else /> -->
								<input name="vals[]" type="checkbox" class="ace"
								value="{$vo['id']}"> <!-- </if> --> <span class="lbl">
									{$vo['attr_val']}</span>
							</span>
							<!-- </foreach> --> <!-- </foreach> -->
						</td>
					</tr>
					<!-- </foreach> -->
				</tbody>
			</table>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" class="btn btn-primary RS_submit_btn">确认</button>
					<button type="reset" class="btn btn-default RS_submit_btn">重置</button>
				</div>
			</div>
		</fieldset>
		</form>
		</div>
	</div>
</div>
<!-- JS script include start -->
<!--[if !IE]> -->
<script src="__JS__/jquery.2.1.1.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__JS__/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='__JS__/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="__PUBLIC__/twbs.3.3.1/js/bootstrap.min.js"></script>
<script src="__JS__/store.content.js"></script>
<!-- JS script include start end -->
</body>
</html>